.refly__favorite #gl3{
    z-index: -1;
    right: 0;
    top: 45%;
}

.refly__favorite{
    position: relative;
}

.refly__favorite-content{
    display: flex;
    flex-direction: column;

}

.refly__favorite-content__title{
    font-family: var(--font-rubik);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-subtext);
}

.refly__favorite-content__heading{
    font-family: var(--font-clash);
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: var(--color-text);

    margin: 16px 0 52px 0;
}

.refly__favorite-content__project{
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 74px;
}

.refly__favorite-content__more{
    display: flex;
    align-items: center;
    margin-top: 68px;
    justify-content: flex-end;
    cursor: pointer;
}

.refly__favorite-content__more p{
    font-family: var(--font-clash);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: var(--color-text);
}

.refly__favorite-content__more img{
    width: 12px;
    height: 11.67px;
    margin-left: 19px;
}
