.refly__header{
    position: relative;
}

.refly__header #gl1{
    z-index: -1;
    top: -100px;
    left: 0;
}
.refly__header #gl2{
    z-index: -1;
    right: 0;
    bottom: 0;
}
.refly__header-content__title{
    font-family: var(--font-rubik);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-subtext);

    margin-top: 130px;
}

.refly__header-content__heading{
    font-family: var(--font-clash);
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: var(--color-text);

    margin-top: 16px;
}
.refly__header-content__more {
    margin-top: 110px;
}

@media screen and (max-width: 1366px) {
    
    .refly__header-content__title{
        margin-top: 40px;
    }

    .refly__header-content__heading{
        font-size: 54px;
        line-height: 76px;
    }
}


@media screen and (max-width: 840px) {
    .refly__header #gl1{
        transform: scale(0.9) translate(-20%, -20%);
    }
    .refly__header #gl2{
        transform: scale(0.7) translate(20%, 10%);
    }

    .refly__header-content__title{
        margin-top: 60px;
    }
    .refly__header-content__heading{
        font-size: 44px;
        line-height: 66px;
    }
    
}

@media screen and (max-width: 500px) {
    .refly__header #gl1{
        transform: scale(0.7) translate(-28%, -23%) rotate(25deg);
    }
    .refly__header #gl2{
        transform: scale(0.5) translate(60%, 30%);
    }

    .refly__header-content__title{
        margin-top: 40px;
        font-size: 20px;
    }
    .refly__header-content__heading{
        font-size: 34px;
        line-height: 56px;
    }

}